/bin/
#/ComponentTestServer/config/common
#/ComponentTestServer/config/registry
#/ComponentTestServer/config/components
#/ComponentTestServer/server.conf.yaml
/ComponentTestServer/console.log
/ComponentTestServer/log
#/ComponentTestServer/run